## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Set the cutoff value
cutoff_value = 500

# Create a list of application types to be replaced
application_types_to_replace = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Set the cutoff value
cutoff_value = 1000

# Create a list of classifications to be replaced
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

# Check the updated DataFrame
print(application_df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 44 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
from sklearn.model_selection import train_test_split

# Split into features (X) and target (y)
X = application_df_encoded.drop('IS_SUCCESSFUL', axis=1)
y = application_df_encoded['IS_SUCCESSFUL']

# Split into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation='relu', input_dim=X_train.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=16, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                1408

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,953
Trainable params: 1,953
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
# Set the number of epochs and batch size
epochs = 50
batch_size = 32

# Train the model
history = nn.fit(X_train, y_train, epochs=epochs, batch_size=batch_size, verbose=1)

Epoch 1/50
858/858 [==============================] - 6s 4ms/step - loss: 33697.8906 - accuracy: 0.5018
Epoch 2/50
858/858 [==============================] - 3s 4ms/step - loss: 38475.7500 - accuracy: 0.5033
Epoch 3/50
858/858 [==============================] - 3s 4ms/step - loss: 33882.8594 - accuracy: 0.5104
Epoch 4/50
858/858 [==============================] - 4s 4ms/step - loss: 21569.4883 - accuracy: 0.5183
Epoch 5/50
858/858 [==============================] - 3s 4ms/step - loss: 16333.2490 - accuracy: 0.5156
Epoch 6/50
858/858 [==============================] - 3s 4ms/step - loss: 3777.2241 - accuracy: 0.5187
Epoch 7/50
858/858 [==============================] - 4s 4ms/step - loss: 18697.9668 - accuracy: 0.5124
Epoch 8/50
858/858 [==============================] - 4s 4ms/step - loss: 13058.0293 - accuracy: 0.5221
Epoch 9/50
858/858 [==============================] - 4s 5ms/step - loss: 9951.5176 - accuracy: 0.5125
Epoch 10/50
858/858 [==============================] - 4s 4ms/step - loss: 4940.7275 - accuracy: 0.5030
Epoch 11/50
858/858 [==============================] - 3s 4ms/step - loss: 10399.8965 - accuracy: 0.5226
Epoch 12/50
858/858 [==============================] - 3s 4ms/step - loss: 14938.4502 - accuracy: 0.5131
Epoch 13/50
858/858 [==============================] - 4s 5ms/step - loss: 17285.3008 - accuracy: 0.5115
Epoch 14/50
858/858 [==============================] - 4s 4ms/step - loss: 10903.4385 - accuracy: 0.5300
Epoch 15/50
858/858 [==============================] - 4s 4ms/step - loss: 9740.0264 - accuracy: 0.5345
Epoch 16/50
858/858 [==============================] - 3s 4ms/step - loss: 15947.0566 - accuracy: 0.5424
Epoch 17/50
858/858 [==============================] - 4s 4ms/step - loss: 2338.2585 - accuracy: 0.5000
Epoch 18/50
858/858 [==============================] - 4s 4ms/step - loss: 13883.3564 - accuracy: 0.5230
Epoch 19/50
858/858 [==============================] - 4s 5ms/step - loss: 7565.7754 - accuracy: 0.5302
Epoch 20/50
858/858 [==============================] - 4s 5ms/step - loss: 2885.0251 - accuracy: 0.5278
Epoch 21/50
858/858 [==============================] - 4s 5ms/step - loss: 3834.2004 - accuracy: 0.5128
Epoch 22/50
858/858 [==============================] - 4s 5ms/step - loss: 2907.9614 - accuracy: 0.5270
Epoch 23/50
858/858 [==============================] - 4s 4ms/step - loss: 4411.5225 - accuracy: 0.5063
Epoch 24/50
858/858 [==============================] - 3s 4ms/step - loss: 5033.0220 - accuracy: 0.5272
Epoch 25/50
858/858 [==============================] - 4s 4ms/step - loss: 680.8686 - accuracy: 0.5541
Epoch 26/50
858/858 [==============================] - 4s 5ms/step - loss: 5766.9985 - accuracy: 0.5460
Epoch 27/50
858/858 [==============================] - 4s 4ms/step - loss: 2733.2651 - accuracy: 0.5663
Epoch 28/50
858/858 [==============================] - 3s 4ms/step - loss: 4111.6650 - accuracy: 0.5533
Epoch 29/50
858/858 [==============================] - 3s 4ms/step - loss: 3067.0278 - accuracy: 0.5193
Epoch 30/50
858/858 [==============================] - 4s 4ms/step - loss: 1762.6261 - accuracy: 0.5098
Epoch 31/50
858/858 [==============================] - 3s 4ms/step - loss: 4848.7832 - accuracy: 0.5258
Epoch 32/50
858/858 [==============================] - 3s 4ms/step - loss: 2034.4539 - accuracy: 0.5628
Epoch 33/50
858/858 [==============================] - 3s 4ms/step - loss: 1486.3582 - accuracy: 0.5327
Epoch 34/50
858/858 [==============================] - 3s 4ms/step - loss: 4574.6201 - accuracy: 0.5186
Epoch 35/50
858/858 [==============================] - 4s 4ms/step - loss: 245.8936 - accuracy: 0.5690
Epoch 36/50
858/858 [==============================] - 3s 4ms/step - loss: 2869.7988 - accuracy: 0.5295
Epoch 37/50
858/858 [==============================] - 3s 4ms/step - loss: 972.0880 - accuracy: 0.5370
Epoch 38/50
858/858 [==============================] - 4s 5ms/step - loss: 860.0949 - accuracy: 0.5435
Epoch 39/50
858/858 [==============================] - 3s 3ms/step - loss: 258.2283 - accuracy: 0.5171
Epoch 40/50
858/858 [==============================] - 3s 4ms/step - loss: 8.8392 - accuracy: 0.5320
Epoch 41/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6552 - accuracy: 0.5578
Epoch 42/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6356 - accuracy: 0.6669
Epoch 43/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6321 - accuracy: 0.6627
Epoch 44/50
858/858 [==============================] - 2s 3ms/step - loss: 0.6397 - accuracy: 0.6390
Epoch 45/50
858/858 [==============================] - 2s 2ms/step - loss: 0.6351 - accuracy: 0.6420
Epoch 46/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6321 - accuracy: 0.6452
Epoch 47/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6345 - accuracy: 0.6557
Epoch 48/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6939 - accuracy: 0.5186
Epoch 49/50
858/858 [==============================] - 3s 3ms/step - loss: 0.6912 - accuracy: 0.5320
Epoch 50/50
858/858 [==============================] - 2s 3ms/step - loss: 0.6912 - accuracy: 0.5320

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 1.1090 - accuracy: 0.6733 - 547ms/epoch - 3ms/step
Loss: 1.1089751720428467, Accuracy: 0.6733236312866211

In [16]:
# Export our model to HDF5 file
model_filepath = 'AlphabetSoupCharity_Optimization.h5'

# Save the model
nn.save(model_filepath)

In [17]:
# Load the model from the .h5 file
loaded_model = tf.keras.models.load_model('AlphabetSoupCharity_Optimization.h5')

# Print the model summary
loaded_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 32)                1408

 dense_1 (Dense)             (None, 16)                528

 dense_2 (Dense)             (None, 1)                 17

=================================================================
Total params: 1,953
Trainable params: 1,953
Non-trainable params: 0
_________________________________________________________________